S3method(print,bugs)
export(OR)
export(acfplot)
export(betaPar)
export(betaPar2)
export(betaplot)
export(coefplot)
export(diagplot)
export(gammaPar)
export(gammaplot)
export(ilogit)
export(logit)
export(logitPar)
export(lognPar)
export(odds2probs)
export(posteriorplot)
export(stats)
export(traceplot)
import(dplyr)
import(ggplot2)
import(BCEA)
importFrom("graphics", "abline", "axis", "box", "points", "text")
importFrom("stats", "acf", "dbeta", "deviance", "dgamma", "median",
               "qbeta", "qgamma", "qnorm", "quantile", "sd")
